
@font-face {
  font-family: 'iconfont';  /* project id 822784 */
  src: url('//at.alicdn.com/t/font_822784_oghd5927cu.eot');
  src: url('//at.alicdn.com/t/font_822784_oghd5927cu.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_822784_oghd5927cu.woff') format('woff'),
  url('//at.alicdn.com/t/font_822784_oghd5927cu.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_822784_oghd5927cu.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-sousuo:before { content: "\e60b"; }

